<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <akka>
    <hocon>
      <![CDATA[

  akka { 
    loglevel=INFO, loggers=["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]
    actor {
        provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
    }
    
    read-db
    {
       mongo-connection = "mongodb://localhost:27017/cqrsexample"
    }
    
    persistence{
      publish-plugin-commands = on
      journal {
        plugin = "akka.persistence.journal.mongodb"
        mongodb {
            class = "Akka.Persistence.MongoDb.Journal.MongoDbJournal, Akka.Persistence.MongoDb"
            connection-string = "mongodb://localhost:27017/CQRSEventStore"
            auto-initialize = on
            plugin-dispatcher = "akka.actor.default-dispatcher"
            collection = "EventJournal"
            metadata-collection = "Metadata"
        }
    }

      snapshot-store {
        plugin = "akka.persistence.snapshot-store.mongodb"
        mongodb {
            class = "Akka.Persistence.MongoDb.Snapshot.MongoDbSnapshotStore, Akka.Persistence.MongoDb"
            connection-string = "mongodb://localhost:27017/CQRSEventStore"
            auto-initialize = on
            plugin-dispatcher = "akka.actor.default-dispatcher"
            collection = "SnapshotStore"
        }
      }
    }
    
    remote {
        helios.tcp {
            port = 8050
            hostname = 127.0.0.1
        }
    }
  }

  ]]>
    </hocon>
  </akka>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>